################################################################################################################################################################

# @project        Libraries
# @file           .gitignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        Apache License 2.0

################################################################################################################################################################

# Operating Systems

## Mac OS

**/.DS_Store

# Editors

## Visual Studio Code

.vscode/
*.code-workspace

## Sublime Text

*.sublime-workspace
*.sublime-project

# Project

## Common

!.gitignore
!.gitkeep

## Binaries

bin/*
lib/*
build/
*.so*
*.a
*.exe*
*.rpm*

## Documentation

docs/html/
docs/latex/

## Misc.

tmp/
__pycache__
.ipynb_checkpoints

################################################################################################################################################################
