######################################################################################################################################################

# @project        Open Space Toolkit
# @file           .gitignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        Apache License 2.0

######################################################################################################################################################

tmp/

######################################################################################################################################################
