######################################################################################################################################################

# @project        Open Space Toolkit
# @file           .gitignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        Apache License 2.0

######################################################################################################################################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

tmp/
.ipynb_checkpoints/
.open-space-toolkit/

######################################################################################################################################################
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
